  <!-- Side-Nav -->
  <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
    <a href="#" class="nav-link h3 text-white my-2">
      ASAP
    </a>
    <ul class="nav flex-column text-white w-100" >

      <li  class="nav-link" *ngFor="let item of menulist" [routerLink]="item.route">
        <i class="bx bxs-dashboard"></i>
        <span class="mx-2">{{item.title}}</span>
      </li>

    </ul>
  </div>

  <!-- Main Wrapper -->
  <div class="p-1 my-container active-cont">
    <!-- Top Nav -->
    <nav class="navbar top-navbar navbar-light bg-light px-5">
      <a class="btn border-0" id="menu-btn" (click)="toggle()"><i class="bx bx-menu"></i></a>
    </nav>
